.app-container{
    display: flex;
    flex-direction: row;
}

.layout{
    display: flex;
    justify-content: center;
    background-color: rgba(239, 239, 239, 1);
    width: 80%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 95%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}